################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SmokeMusic20121101/SmokeMusic/SmokeMusic.Client/bin/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Modules.Exception/bin/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Modules.Notify/bin/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Modules.Search/bin/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Modules.Player/bin/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Modules.Settings/bin/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Modules.Info/bin/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Modules.Channel/bin/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Modules.Account/bin/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Common/bin/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Logic/bin/*
/SmokeMusic20121101/SmokeMusic/Framework.Common/bin/*

/SmokeMusic20121101/SmokeMusic/SmokeMusic.Client/obj/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Modules.Exception/obj/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Modules.Notify/obj/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Modules.Search/obj/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Modules.Player/obj/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Modules.Settings/obj/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Modules.Info/obj/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Modules.Channel/obj/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Modules.Account/obj/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Common/obj/*
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Logic/obj/*
/SmokeMusic20121101/SmokeMusic/Framework.Common/obj/*

/UsingMVVMLightDemo/UsingMVVMLightDemo/bin/*
/UsingMVVMLightDemo/UsingMVVMLightDemo/obj/*



/UsingMVVMLightDemo/.vs/UsingMVVMLightDemo/v14/.suo
/SmokeMusic20121101/SmokeMusic/SmokeMusic.Client/SmokeMusic.Client.csproj.user
/SmokeMusic20121101/SmokeMusic/.vs/SmokeMusic/v14/.suo
